#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dtap_cv: dtap_cv {
            compatible = "zmk,behavior-tap-dance";
            label = "DTAP_CV";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };

        hold_tap_qk: hold_tap_qk {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_QK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        dtap_pn: dtap_pn {
            compatible = "zmk,behavior-tap-dance";
            label = "DTAP_PN";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp C_NEXT>, <&kp C_PREVIOUS>;
        };
    };

    macros {
        enhe: enhe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N) &kp N>;
            label = "ENHE";
        };

        question: question {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(QUESTION)>;
            label = "QUESTION";
        };

        paste_history: copy_history {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RS(V))>;
            label = "COPY_HISTORY";
        };

        sc_area: area_sc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(S))>;
            label = "AREA_SC";
        };

        tile_left: tile_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(LEFT_ARROW))>;
            label = "TILE_LEFT";
        };

        tile_right: tile_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(RIGHT_ARROW))>;
            label = "TILE_RIGHT";
        };

        tile_1_3: tile_1_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(G))>;
            label = "TILE_1_3";
        };

        tile_2_3: tile_2_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(E))>;
            label = "TILE_2_3";
        };

        tile_fs: tile_fs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(ENTER))>;
            label = "TILE_FS";
        };

        wspc_left: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LEFT_ARROW))>;
            label = "NEW_MACRO";
        };

        wspc_right: wspc_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RC(RIGHT_ARROW))>;
            label = "WSPC_LEFT";
        };

        term_left: term_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(LEFT_ARROW))>;
            label = "TERM_LEFT";
        };

        term_right: term_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(RIGHT_ARROW))>;
            label = "TERM_RIGHT";
        };

        mission_ctrl: mission_ctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RC(UP_ARROW))>;
            label = "MISSION_CTRL";
        };

        tile_1_4: tile_1_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F))>;
            label = "TILE_1_4";
        };

        tile_3_4: tile_3_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(N))>;
            label = "TILE_3_4";
        };

        scroll_shortcut: scroll_shortcut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RS(RC(SPACE)))>;
            label = "SCROLL_SHORTCUT";
        };

        homerow_sc: homerow_sc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RS(SPACE))>;
            label = "HOMEROW_SC";
        };

        d_esc: d_esc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp ESCAPE>;
            label = "D_ESC";
            wait-ms = <50>;
        };
    };

    combos {
        compatible = "zmk,combos";

        shift_osl {
            bindings = <&kp RG(RS(SPACE))>;
            key-positions = <65 70>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&tog 2         &kp N1            &kp N2               &kp N3          &kp N4              &kp N5       &tile_fs                                                                                               &kp C_PLAY_PAUSE  &kp N6  &kp N7           &kp N8           &kp N9               &kp N0                      &mo 3
&kp GRAVE      &kp Q             &kp W                &hm LG(F) F     &kp P               &kp B        &tile_1_3                                                                                              &tile_2_3         &kp J   &kp L            &kp U            &kp Y                &kp SEMI                    &kp DELETE
&kp TAB        &hm LEFT_SHIFT A  &hm LA(LS(LCTRL)) R  &hm LEFT_ALT S  &hm LEFT_COMMAND T  &kp G        &tile_1_4    &tile_left                 &wspc_left      &wspc_right  &tile_right                       &tile_3_4         &kp M   &hm RIGHT_GUI N  &hm RIGHT_ALT E  &hm RS(RA(RCTRL)) I  &hm RIGHT_SHIFT O           &kp SQT
&kp BACKSPACE  &hm LS(LG(S)) Z   &hm LG(X) X          &hm LG(C) C     &hm LS(LG(V)) D     &hm LG(V) V                                          &term_left      &term_right                                                      &kp K   &kp H            &kp COMMA        &lt 4 PERIOD         &hm RC(RG(UP_ARROW)) SLASH  &kp RIGHT_SHIFT
&none          &none             &none                &none           &none                            &lt 1 SPACE  &hold_tap_qk LCTRL ESCAPE  &none           &none        &hold_tap_qk RS(RG(SPACE)) ENTER  &lt 2 BACKSPACE           &none            &none            &none                &none                       &none
            >;
        };

        symbol {
            display-name = "Base";
            bindings = <
&none      &kp F1           &kp F2         &kp F3     &kp F4          &kp F5      &kp C_BRIGHTNESS_DEC                                                                        &kp C_BRIGHTNESS_INC  &kp F6       &kp F7          &kp F8                &kp F9                 &kp F10          &mo 3
&trans     &kp CARET        &kp AT_SIGN    &kp POUND  &kp DOLLAR      &kp F11     &kp C_VOLUME_DOWN                                                                           &kp C_VOLUME_UP       &kp F12      &kp PERCENT     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON        &trans
&kp TILDE  &kp EXCLAMATION  &kp AMPERSAND  &kp EQUAL  &kp MINUS       &question   &kp C_PREVIOUS        &wspc_left              &tile_left        &tile_right  &wspc_right    &kp C_NEXT            &enhe        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp DOUBLE_QUOTES
&trans     &kp BACKSLASH    &kp PIPE       &kp PLUS   &kp UNDERSCORE  &term_left                                                &kp LEFT_ALT      &caps_word                                        &term_right  &kp ASTERISK    &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION     &trans
&none      &none            &none          &none      &none                       &none                 &hold_tap_qk LCTRL ESC  &kp LEFT_GUI      &kp TAB      &kp RC(SPACE)  &kp BACKSPACE                      &none           &none                 &none                  &none            &none
            >;
        };

        nav {
            display-name = "Base";
            bindings = <
&tog 2  &kp F1            &kp F2          &kp F3          &kp F4           &kp F5      &kp C_BRIGHTNESS_DEC                                                                                                &kp C_BRIGHTNESS_INC  &kp F6         &kp F7                  &kp F8                  &tog 4        &kp F10                   &mo 3
&trans  &kp HOME          &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp F11     &kp C_VOLUME_DOWN                                                                                                   &kp C_VOLUME_UP       &kp F12        &kp NUMBER_7            &kp NUMBER_8            &kp NUMBER_9  &kp STAR                  &trans
&trans  &scroll_shortcut  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &question   &kp C_PREVIOUS        &wspc_left                 &tile_left            &tile_right  &wspc_right                     &kp C_NEXT            &enhe          &hm RIGHT_GUI NUMBER_4  &hm RIGHT_ALT NUMBER_5  &kp NUMBER_6  &hm RIGHT_SHIFT NUMBER_0  &kp EQUAL
&trans  &kp END           &kp DOT         &kp PLUS        &kp MINUS        &term_left                                                   &kp LEFT_ALT          &caps_word                                                         &kp RIGHT_ALT  &kp NUMBER_1            &kp NUMBER_2            &kp NUMBER_3  &kp SLASH                 &kp DOT
&none   &none             &none           &none           &none                        &kp SPACE             &hold_tap_qk LCTRL ESCAPE  &kp LEFT_COMMAND      &kp TAB      &hold_tap_qk RIGHT_SHIFT ENTER  &none                                &none                   &none                   &none         &none                     &none
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&bootloader     &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &bootloader
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&tog 2  &kp F1            &kp F2          &kp F3          &kp F4           &kp F5      &kp C_BRIGHTNESS_DEC                                                                                                &kp C_BRIGHTNESS_INC  &kp F6       &kp F7                      &kp F8                  &tog 4        &kp F10       &mo 3
&trans  &kp HOME          &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &kp F11     &kp C_VOLUME_DOWN                                                                                                   &kp C_VOLUME_UP       &kp F12      &kp NUMBER_7                &kp NUMBER_8            &kp NUMBER_9  &kp STAR      &trans
&trans  &scroll_shortcut  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &question   &kp C_PREVIOUS        &wspc_left                 &tile_left            &tile_right  &wspc_right                     &kp C_NEXT            &enhe        &hm RIGHT_COMMAND NUMBER_4  &hm RIGHT_ALT NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &kp EQUAL
&trans  &kp END           &kp DOT         &mkp MCLK       &kp MINUS        &term_left                                                   &kp LEFT_ALT          &caps_word                                                         &term_right  &kp NUMBER_1                &kp NUMBER_2            &kp NUMBER_3  &kp SLASH     &kp DOT
&none   &none             &none           &none           &none                        &kp SPACE             &hold_tap_qk LCTRL ESCAPE  &kp LEFT_COMMAND      &kp TAB      &hold_tap_qk RIGHT_SHIFT ENTER  &kp BACKSPACE                      &none                       &none                   &none         &none         &none
            >;
        };

        shiftOSL {
            display-name = "shiftOSL";
            bindings = <
&tog 2  &kp LG(LS(S))  &kp LG(X)  &kp LS(TAB)  &kp LG(C)  &kp LG(V)  &tile_fs                                                                                   &kp C_PLAY_PAUSE  &kp C_PLAY_PAUSE  &kp C_PLAY_PAUSE  &caps_word  &tog 4      &mission_ctrl  &mo 3
&trans  &kp LS(Q)      &kp LS(W)  &kp LS(F)    &kp LS(P)  &kp LS(B)  &tile_1_3                                                                                  &tile_2_3         &kp RS(J)         &kp RS(L)         &kp RS(U)   &kp RS(Y)   &kp SEMI       &kp BACKSPACE
&trans  &kp LS(A)      &kp LS(R)  &kp LS(S)    &kp LS(T)  &kp LS(G)  &tile_1_4    &tile_left      &wspc_left        &wspc_right  &tile_right                    &tile_3_4         &kp RS(M)         &kp RS(N)         &kp RS(E)   &kp RS(I)   &kp RS(O)      &kp SQT
&trans  &kp LS(Z)      &kp LS(X)  &kp LS(C)    &kp LS(D)  &kp LS(V)                               &term_left        &term_right                                                   &kp RS(K)         &kp RS(H)         &kp COMMA   &kp PERIOD  &kp SLASH      &caps_word
&tog 5  &none          &none      &none        &none                 &lt 1 SPACE  &kp LS(ESCAPE)  &kp LEFT_GUI      &kp TAB      &hold_tap_qk LEFT_SHIFT ENTER  &lt 2 BACKSPACE                     &none             &none       &none       &none          &none
            >;
        };
    };
};
