#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dtap_cv: dtap_cv {
            compatible = "zmk,behavior-tap-dance";
            label = "DTAP_CV";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };

        hold_tap_qk: hold_tap_qk {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_QK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        enhe: enhe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N) &kp N>;
            label = "ENHE";
        };

        question: question {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(QUESTION)>;
            label = "QUESTION";
        };

        paste_history: copy_history {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RS(V))>;
            label = "COPY_HISTORY";
        };

        sc_area: area_sc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(S))>;
            label = "AREA_SC";
        };

        tile_left: tile_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(LEFT_ARROW))>;
            label = "TILE_LEFT";
        };

        tile_right: tile_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(RIGHT_ARROW))>;
            label = "TILE_RIGHT";
        };

        tile_1_3: tile_1_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(G))>;
            label = "TILE_1_3";
        };

        tile_2_3: tile_2_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(E))>;
            label = "TILE_2_3";
        };

        tile_fs: tile_fs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(ENTER))>;
            label = "TILE_FS";
        };

        wspc_left: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LEFT_ARROW))>;
            label = "NEW_MACRO";
        };

        wspc_right: wspc_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RC(RIGHT_ARROW))>;
            label = "WSPC_LEFT";
        };

        term_left: term_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(LEFT_ARROW))>;
            label = "TERM_LEFT";
        };

        term_right: term_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(RIGHT_ARROW))>;
            label = "TERM_RIGHT";
        };

        mission_ctrl: mission_ctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RC(UP_ARROW))>;
            label = "MISSION_CTRL";
        };

        tile_1_4: tile_1_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F))>;
            label = "TILE_1_4";
        };

        tile_3_4: tile_3_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(N))>;
            label = "TILE_3_4";
        };

        scroll_shortcut: scroll_shortcut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(RS(RC(SPACE)))>;
            label = "SCROLL_SHORTCUT";
        };

        double_esc: double_esc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp ESCAPE>;
            label = "DOUBLE_ESC";
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&none       &kp N1           &kp N2           &kp N3          &kp N4              &kp N5  &tile_fs                                                                                               &kp C_PLAY_PAUSE  &kp N6  &kp N7               &kp N8           &kp N9               &kp N0                     &mo 3
&kp DELETE  &kp Q            &kp W            &kp F           &kp P               &kp B   &tile_1_3                                                                                              &tile_2_3         &kp J   &kp L                &kp U            &kp Y                &kp SEMI                   &kp BACKSPACE
&kp GRAVE   &hm LCTRL A      &kp R            &hm LEFT_ALT S  &hm LEFT_COMMAND T  &kp G   &tile_1_4        &wspc_left                   &tile_left        &tile_right  &wspc_right               &tile_3_4         &kp M   &hm RIGHT_COMMAND N  &hm RIGHT_ALT E  &hm RG(RS(SPACE)) I  &hm RCTRL O                &kp SQT
&kp TAB     &hm LG(LS(S)) Z  &hm LG(LS(V)) X  &kp C           &kp D               &kp V                                                 &term_left        &term_right                                              &kp K   &kp H                &kp COMMA        &lt 4 PERIOD         &hm RG(RC(UP_ARROW)) FSLH  &caps_word
&none       &none            &none            &none           &none                       &lt 1 BACKSPACE  &hold_tap_qk LEFT_SHIFT ESC  &kp LEFT_GUI      &kp TAB      &hold_tap_qk RCTRL ENTER  &lt 2 SPACE               &none                &none            &none                &none                      &none
            >;
        };

        symbol {
            display-name = "Base";
            bindings = <
&none       &kp F1           &kp F2         &kp F3     &kp F4          &kp F5      &kp C_BRIGHTNESS_DEC                                                                                           &kp C_BRIGHTNESS_INC  &kp F6       &kp F7          &kp F8                &kp F9                 &kp F10          &mo 3
&kp DELETE  &kp EXCLAMATION  &kp AT_SIGN    &kp POUND  &kp DOLLAR      &kp F11     &kp C_VOLUME_DOWN                                                                                              &kp C_VOLUME_UP       &kp F12      &kp PERCENT     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON        &kp BACKSPACE
&kp TILDE   &kp CARET        &kp AMPERSAND  &kp EQUAL  &kp UNDERSCORE  &question   &kp C_PREVIOUS        &wspc_left                      &tile_left        &tile_right  &wspc_right               &kp C_NEXT            &enhe        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp DOUBLE_QUOTES
&kp TAB     &kp BACKSLASH    &kp PIPE       &kp PLUS   &kp MINUS       &term_left                                                        &kp LEFT_ALT      &caps_word                                                   &term_right  &kp ASTERISK    &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION     &kp RSHFT
&none       &none            &none          &none      &none                       &none                 &hold_tap_qk LEFT_SHIFT ESCAPE  &kp LEFT_GUI      &kp TAB      &hold_tap_qk RCTRL ENTER  &lt 2 SPACE                        &none           &none                 &none                  &none            &none
            >;
        };

        nav {
            display-name = "Base";
            bindings = <
&none      &kp F1                                &kp F2          &kp F3          &kp F4           &kp F5      &kp C_BRIGHTNESS_DEC                                                                                               &kp C_BRIGHTNESS_INC  &kp F6       &kp F7                      &kp F8                  &kp F9        &kp F10             &mo 3
&kp DEL    &kp HOME                              &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp F11     &kp C_VOLUME_DOWN                                                                                                  &kp C_VOLUME_UP       &kp F12      &kp NUMBER_7                &kp NUMBER_8            &kp NUMBER_9  &kp STAR            &kp BACKSPACE
&kp TILDE  &hold_tap_qk LCTRL LS(LC(LG(SPACE)))  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &question   &kp C_PREVIOUS        &wspc_left                      &tile_left            &tile_right  &wspc_right               &kp C_NEXT            &enhe        &hm RIGHT_COMMAND NUMBER_4  &hm RIGHT_ALT NUMBER_5  &kp NUMBER_6  &hm RCTRL NUMBER_0  &kp EQUAL
&kp TAB    &kp END                               &kp DOT         &kp PLUS        &kp MINUS        &term_left                                                        &kp LEFT_ALT          &caps_word                                                   &term_right  &kp NUMBER_1                &kp NUMBER_2            &kp NUMBER_3  &kp SLASH           &kp DOT
&none      &none                                 &none           &none           &none                        &kp BACKSPACE         &hold_tap_qk LEFT_SHIFT ESCAPE  &kp LEFT_COMMAND      &kp TAB      &hold_tap_qk RCTRL ENTER  &none                              &none                       &none                   &none         &none               &none
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&none      &kp F1            &kp F2          &kp F3          &kp F4           &kp F5      &kp C_BRIGHTNESS_DEC                                                                                               &kp C_BRIGHTNESS_INC  &kp F6       &kp F7                      &kp F8                  &kp F9        &kp F10       &mo 3
&kp DEL    &kp HOME          &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &kp F11     &kp C_VOLUME_DOWN                                                                                                  &kp C_VOLUME_UP       &kp F12      &kp NUMBER_7                &kp NUMBER_8            &kp NUMBER_9  &kp STAR      &kp BACKSPACE
&kp TILDE  &scroll_shortcut  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &question   &kp C_PREVIOUS        &wspc_left                      &tile_left            &tile_right  &wspc_right               &kp C_NEXT            &enhe        &hm RIGHT_COMMAND NUMBER_4  &hm RIGHT_ALT NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &kp EQUAL
&kp TAB    &kp END           &kp DOT         &mkp MCLK       &kp MINUS        &term_left                                                        &kp LEFT_ALT          &caps_word                                                   &term_right  &kp NUMBER_1                &kp NUMBER_2            &kp NUMBER_3  &kp SLASH     &kp DOT
&none      &none             &none           &none           &none                        &kp BACKSPACE         &hold_tap_qk LEFT_SHIFT ESCAPE  &kp LEFT_COMMAND      &kp TAB      &hold_tap_qk RCTRL ENTER  &kp SPACE                          &none                       &none                   &none         &none         &none
            >;
        };

        layer_4 {
            display-name = "Base";
            bindings = <
&none       &kp N1                &kp N2                &kp N3                &kp N4                &kp N5                &tile_fs                                                                                         &kp C_PLAY_PAUSE  &kp N6                &kp N7                &kp N8                &kp N9                &kp N0                &mo 3
&kp DELETE  &hold_tap_qk LS(Q) Q  &hold_tap_qk LS(W) W  &hold_tap_qk LS(F) F  &hold_tap_qk LS(P) P  &hold_tap_qk LS(B) B  &tile_1_3                                                                                        &tile_2_3         &hold_tap_qk RS(J) J  &hold_tap_qk RS(L) L  &hold_tap_qk RS(U) U  &hold_tap_qk RS(Y) Y  &kp SEMICOLON         &kp DEL
&kp GRAVE   &hold_tap_qk LS(A) A  &hold_tap_qk LS(R) R  &hold_tap_qk LS(S) S  &hold_tap_qk LS(T) T  &hold_tap_qk LS(G) G  &tile_1_4        &wspc_left     &tile_left        &tile_right  &wspc_right                       &tile_3_4         &hold_tap_qk RS(M) M  &hold_tap_qk RS(N) N  &hold_tap_qk RS(E) E  &hold_tap_qk RS(I) I  &hold_tap_qk RS(O) O  &kp SQT
&kp LSHFT   &hold_tap_qk LS(Z) Z  &hold_tap_qk LS(X) X  &hold_tap_qk LS(C) C  &hold_tap_qk LS(D) D  &hold_tap_qk LS(V) V                                  &kp LEFT_ALT      &kp CAPS                                                         &hold_tap_qk RS(K) K  &hold_tap_qk RS(H) H  &kp COMMA             &kp DOT               &kp FSLH              &kp RSHFT
&none       &sc_area              &paste_history        &kp CAPS              &kp TAB                                     &lt 1 BACKSPACE  &mt LCTRL ESC  &kp LEFT_GUI      &kp TAB      &hold_tap_qk RG(RS(SPACE)) ENTER  &lt 2 SPACE                             &kp RIGHT_GUI         &kp RIGHT_ALT         &dtap_cv              &mission_ctrl         &none
            >;
        };
    };
};
